<!DOCTYPE html>
<html>
<head>
    <title>TextEditor</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>
    <div class="pdf disable_elem">
        <embed id="pdf" type="application/pdf">
        <a class="btn_closePDF" title="Закрыть"><span></span></a>
    </div>
    <article>
        <div class="buttons_container">
            <nav class="buttons">
                <div class="button" value="Open"><p>Open</p></div>
                <div class="button" value="Save"><p>Save</p></div>
                <div class="button" value="Print"><p>Print</p></div>
            </nav>
        </div>
        <div class="doc">
            <textarea cols="80" rows="41"></textarea>
        </div>
    </article>
</body>
<script src="scripts/index.js"></script>
</html>